mixin card-chart(href, style, title, subtitle, chartid)
  a(href=href class="card__link")
    div(class=style)
      .card__header
        .card__title=title
        .card__sub-title=subtitle
        //- img(height='15px' width='15px' class="float-right" title="This is a static historical dataset" src=img)
      .card__body.card-graph
        div(id=chartid class="line-chart" min-width="256" min-height="70")
