mixin home__card-chart(options = {id:'', title:'card title', subtitle:'', info:'Information will appear here when available  ',buttons:[], data:{}, plotoptions:{}})
    div(id= options.id class='home__card-chart')
        .card
            .card__header
                h1.card__title=options.title
                h2.card__sub-title=options.subtitle
            .card__body
                div(id=options.plotoptions.chartid class="card__line-chart")
            .card__info
                .card__info-border 
                p.card__info-text=options.info
                .card__info__buttons
                    each b in options.buttons
                        a(href=b.href class="card__link").button #{b.name}
    script(type="module").
        import { main } from !{JSON.stringify(options.plotoptions.src)}
        (async function(o){
           main(o);
         })(!{JSON.stringify(options)})   