mixin story-scrolly__hero({id='', title='', subtitle='',texttitle='', texts = []})
  //- , chartInfo='', chartIds = [], buttons = [])
  div(id=id class="stories__card" )
    .story-scrolly__hero__title
      h1= title.toUpperCase()
      h2= subtitle.toUpperCase()
    .story-scrolly__hero__text
      h1!= texttitle
      each t in texts
        p!= t
