mixin story-scrolly__narrative-item({id='', title='', narrative='', info='', chartimages = [''], cta=''})
  //- , chartInfo='', chartIds = [], buttons = [])
  div(id=id class="narrative-item" )
    .narrative-item__title
      h2= title
    .narrative-item__text
      .narrative-item__narrative!= narrative
      .narrative-item__info!= info
    each img in chartimages
      img(src = img class = "scrolly__mobile-chart")
    .narrative-item__cta!=cta
    
      
            
    //- .story-scrolly__narrative-item__sources
      p Sources:
      each val in sources
        div(id=val class= 'story-scrolly__narrative-item__source')  
          a(href=val.link target='_blank')= val.name
            img( src='../images/external-link.svg')
