mixin theme__text-chart(id='', sources='', title='', description='', chartInfo='', chartIds = [], buttons = [])
  div(id=id class="theme__text-chart" )
    .theme__text-chart__sources
      p Sources:
      each val in sources
        div(id=val class= 'theme__text-chart__data-source')  
          a(href=val.link target='_blank')= val.name
            img( src='../images/external-link.svg')
    .theme__text-chart__title
      h1= title
    .theme__text-chart__text
      .theme__text-chart__description!= description
      .theme__text-chart__info!= chartInfo
      .theme__text-chart__kpi
    
    .theme__text-chart__chart
      .theme__text-chart__button-row
          each button in buttons
            <button id=#{button.id} type='button' class='theme-btn'>#{button.name}</button>
      
      each val in chartIds
            div(id=val class= 'theme__text-chart__plot') 
              //- .theme__text-chart__spinner 
                p Data is loading from #{JSON.stringify(sources[0].name)}
