mixin theme__component(id, dataLink, dataName, infoLink, infoName, title, description, chartId)
  div(id=id class="theme__component" )
    .theme__component__text
      .theme__component__sources
        p Source: 
        .theme__component__data-source 
          a(href=dataLink)= dataName
        p Website:
        .theme__component__info-source
          a(href=infoLink)= infoName
      .theme__component__title= title
      .theme__component__description= description
      .theme__component__kpi
      //- img(height='15px' width='15px' class="float-right" title="This is a static historical dataset" src=img)
    .theme__component__chart
      .theme__component__button-row
        //- a(href=data-source class="theme-btn").button 
        //- a(href=data-source class="theme-btn").button 
        //- a(href=data-source class="theme-btn").button 
      div(id=chartId class= "theme__component__plot")
         
      
