mixin theme__header(id, title, description, moreInfo)
  div(id=id 
    class="theme__header" 
    )
    .theme__header__content
      .theme__header__title!=title
      .theme__header__description!=description
      .theme__header__info!=moreInfo
